@charset "UTF-8";
body{
    margin: 0;
}
.mapa {
    margin-top: 25px;
    margin-left: 25px;
    box-shadow: 5px 5px 50px #888;


}
.ti{
    text-align: center;
    color: blueviolet;
    font: oblique bold 120% cursive;
    font-size: 200%;
}
